<div class="header">
    <div class="logo container">
        <div class="row">
            <div class="col-2">
                <p>Ben'sCar</p>
            </div>
            <nav class="col-8">
                <nav>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Nos voiture en stock</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
    </div>
</div>