<div class="header">
    <div class="logo container">
        <div class="row">
            <div class="col-3">
                <p>Ben'sCar</p>
            </div>
            <nav class="col-9">
                <nav>
                    <ul>
                        <li><a href="{{path('homepage')}}">Accueil</a></li>
                        <li><a href="{{ path('app_car') }}">Nos voiture en stock</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
    </div>
</div>