//Ajout police écriture
@import url(https://fr.allfont.net/allfont.css?fonts=roboto-regular);

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

body {
    font-family: 'Roboto Regular', arial;
}

//css footer
.footer {
    width: 100%;
    background-color: #06283D;
    color: white;
    font-size: 19px;
    height: 51px;
    line-height: 47px;
}

//css header
.header {
    width: 100%;
    background-color: #06283D;
    height: 76px;
    font-size: 16px;

    p {
        color: #47B5FF;
        font-size: 32px;
        font-weight: bold;
        line-height: 76px;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            margin-right: 40px;

            a {
                text-decoration: none;
                color: white;
                line-height: 76px;
            }

            &:hover {
                a {
                    color: #F66B0E;
                }
            }

        }
    }

    .menuUser {
        line-height: 76px;
        color: white;

        &:hover {
            color: #F66B0E;
            cursor: pointer;
        }

        .dropdown-menu {
            a {
                line-height: 30px;
                display: block;
                height: 100%;

                &:hover {
                    background-color: #F66B0E;
                    color: white;
                }
            }
        }
    }
}

//css Home
.home {
    background-image: url(../../public/images/fond1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    h1 {
        margin-top: 10px;
        color: #06283D;
        font-weight: bold;
        text-decoration: underline;
    }
}

h2 {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.linkHome {
    display: flex;
    justify-content: center;

    a {
        padding: 10px;
        width: 100%;
        color: white;
        background-color: #06283D;
        font-size: 20px;
        text-decoration: none;
        display: block;
        width: 300px;
        border-radius: 10px;
    }
}

h3 {
    color: white;
    background-color: #F66B0E;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
    border-radius: 10px;
    width: 400px;

}

.carPage {
    background-image: url(../../public/images/fond2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .titre {
        padding-top: 50px;

        h1 {
            background-color: #F66B0E;
            color: white;
            font-size: 20px;
            text-decoration: none;
            width: 450px;
            line-height: 45px;
            text-align: center;
            border-radius: 10px;

        }
    }
}

.jumbotron {
    background-color: rgba(256, 256, 256, .95);
    margin-top: 20px;
    border-radius: 20px;
    padding-bottom: 25px;
    border: 2px solid #06283D;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
}
.count
{
    em{
        color: white;
        font-size: 20px;
    }
}

//css connexion
.connexion,
.admin {
    min-height: 88vh;

    h1 {
        font-size: 25px;
        text-align: center;
        padding: 15px;
        color: red;
        text-decoration: underline;

    }
}

//css item car
.carPage,
.home {
    min-height: 95vh;
    .pattern {
        width: 100%;
        height: 100%;
        background-image: url(https://benoit-caucheteux.com/porfolioDev/images/pattern.png);
        opacity: 1;
    }

    .active {
        .page-link {
            background-color: #06283D;
        }
    }

    p {
        margin: 0;

        em {
            text-align: right;
        }
    }

    .itemCar {
        width: 100%;
        margin: auto;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        opacity: 0.98;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);

        &:hover {

            opacity: 1;

            .image {
                img {
                    -webkit-filter: grayscale(0%);
                    /* Chrome, Safari, Opera */
                    filter: grayscale(0%);
                    /* Firefox */

                }
            }
        }

        .image {
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                -webkit-filter: grayscale(100%);
                /* Chrome, Safari, Opera */
                filter: grayscale(100%);
                /* Firefox */
            }

            transition-delay: 5sec;
        }

        a {
            background-color: #F66B0E;
            color: white;
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            height: 40px;
            line-height: 40px;
        }

        .content {
            position: relative;

            .nameCar {
                p {
                    color: #256d85;
                    font-size: 20px;
                }

                span {
                    font-weight: bold;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

//css delete selection
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//css admin
tr {
    td {
        img {
            height: 30px;
            width: auto;
        }
    }

    &:hover {
        background-color: antiquewhite;
    }
}

textarea {
    height: 220px;
    resize: none;
}

//page car
.carSeul {
    background-size: cover;
    background-attachment: fixed;

    .pattern {
        width: 100%;
        height: 100%;
        background-image: url(https://benoit-caucheteux.com/porfolioDev/images/pattern.png);
        opacity: 1;
    }

    .blanc {
        background-color: rgba(256, 256, 256, .55);

    }

    .info {
        display: flex;
        justify-content: center;
    }

    .group {
        background-color: rgba(6, 40, 61, 0.85);
        padding-top: 30px;
        width: 320px;
        margin: 25px;
        border-radius: 25px;

        p {
            color: #F66B0E;
            font-size: 24px;
        }

        &:hover {
            background-color: #06283D;
        }

    }

    h3 {
        color: #F66B0E;
        background-color: transparent;
        text-decoration: underline;
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 25px;
        text-align: center;
        width: 100%;
    }

    h4 {
        color: white;
        font-size: 22px;
        font-weight: bold;
        margin-top: 18px;
        height: 50px;
        vertical-align: auto;
    }

    i {
        margin-top: 22px;
        color: #F66B0E;
        font-size: 60px;
        background-color: white;
        height: 100px;
        width: 100px;
        margin: auto;
        padding-top: 20px;
        border-radius: 50px;
    }

    p {
        line-height: 20px;
        color: #06283D;
    }

    h2 {
        font-size: 35px;
        color: #06283D;
        line-height: 35px;
    }

    .titre {
        p {
            font-size: 25px;
        }
    }

    .flexprix {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .prix {
        width: 200px;
        height: 100px;
        border-radius: 25px;
        background-color: rgba(6, 40, 61, 0.85);
        text-align: center;

        strong {
            color: #F66B0E;
            font-weight: bold;
            font-size: 45px;
            line-height: 100px;
        }
    }

    .content {
        background-color: rgba(256, 256, 256, .85);
        border-radius: 20px;
        margin-bottom: 35px;

    }
}

.formImage,
.gallerieImg {

    display: flex;

    img {
        width: 220px;
        height: auto;
        margin: 10px;
    }
}

.edit,
.new {
    label {
        color: #06283D;
        font-weight: bold;
        margin: auto;
    }

    button {
        width: 350px;
        margin-bottom: 50px;


    }

    h1 {
        font-size: 25px;
        text-decoration: underline;

        span {
            color: red;
            font-size: 35px;
        }
    }
}

.footer {
    p {
        color: white;
        line-height: 50px;
    }
}

.connexion {
    h1 {
        font-size: 25px;
        text-align: center;
        padding: 20px;
        color: red;
        text-decoration: underline;
    }
}