{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class='text-center'>Bienvenue chez Ben's Car</h1>
            <h2 class='text-center'>Large choix de voitures d'occasion garanties | Livraison à domicile | Retour sans
                frais sous 21 jours</h2>
            <p class="text-center">Chez Ben's Car pas de lézard, toujours les meilleurs voitures d'occasion à des prix
                défiant toute concurrence.</br>Controle technique en ordre, entretien de tous nos vehicules avant la
                vente et Pass car garantie sur tout nos véhicules.</p>
            <button class="text-center" href="">Nos voitures en stock</button>
            <h3>Nos dernières trouvaillesllllll</h3>
        </div>
    </div>
</div>
{% endblock %}